<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <div class="calendar" th:fragment="calendar" id="datePicker">
        <ul id="dateScroller">
            <li class="date-link active">
                <a id="d0" class="date-info" date-date="" th:href="@{#}" href="#">
                    <span class="week-day">ПЯТ</span>
                    <span class="date">20</span>
                    <span class="month">КВІТЕНЬ</span>
                </a>
            </li>
            <li  class="date-link">
                <a id="d1" class="date-info" date-date="" th:href="@{#}" href="#">
                    <span class="week-day">ПЯТ</span>
                    <span class="date">20</span>
                    <span class="month">КВІТЕНЬ</span>
                </a>
            </li>
            <li  class="date-link">
                <a id="d2" class="date-info" date-date="" th:href="@{#}" href="#">
                    <span class="week-day">ПЯТ</span>
                    <span class="date">20</span>
                    <span class="month">КВІТЕНЬ</span>
                </a>
            </li>
            <li  class="date-link">
                <a id="d3" class="date-info" date-date="" th:href="@{#}" href="#">
                    <span class="week-day">ПЯТ</span>
                    <span class="date">20</span>
                    <span class="month">КВІТЕНЬ</span>
                </a>
            </li>
        </ul>
    </div>
</body>
</html>