<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <div class="calendar" th:fragment="calendar" id="datePicker">
        <ul id="dateScroller">
            <li class="active">
                <a id="d0" th:href="@{#}" href="#">
                    <span class="week-day">ПЯТ</span>
                    <span class="date">20</span>
                    <span class="month">КВІТЕНЬ</span>
                </a>
            </li>
            <li>
                <a id="d1" th:href="@{#}" href="#">
                    <span class="week-day">ПЯТ</span>
                    <span class="date">20</span>
                    <span class="month">КВІТЕНЬ</span>
                </a>
            </li>
            <li>
                <a id="d2" th:href="@{#}" href="#">
                    <span class="week-day">ПЯТ</span>
                    <span class="date">20</span>
                    <span class="month">КВІТЕНЬ</span>
                </a>
            </li>
            <li>
                <a id="d3" th:href="@{#}" href="#">
                    <span class="week-day">ПЯТ</span>
                    <span class="date">20</span>
                    <span class="month">КВІТЕНЬ</span>
                </a>
            </li>
        </ul>
    </div>
</body>
</html>