<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cinema</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="webjars/bootstrap/4.0.0/css/bootstrap.min.css"
          th:href="@{webjars/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="shortcut icon" href="/static/images/favicon.ico"
          th:href ="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet/less" type="text/less" href="../static/less/main.less"
          th:href="@{/less/main.less}" />
    <link rel="stylesheet" href="webjars/font-awesome/5.0.10/web-fonts-with-css/css/fontawesome-all.min.css"
          th:href="@{webjars/font-awesome/5.0.10/web-fonts-with-css/css/fontawesome-all.min.css}">
    <link rel="stylesheet" href="webjars/font-awesome/5.0.10/svg-with-js/css/fa-svg-with-js.css"
          th:href="@{webjars/font-awesome/5.0.10/svg-with-js/css/fa-svg-with-js.css}">
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<div th:replace="~{fragments/footer :: footer}"></div>

<script src="webjars/jquery/2.1.4/jquery.min.js"
        th:src="@{webjars/jquery/2.1.4/jquery.min.js}"></script>
<script src="webjars/less/2.7.2/less.min.js"
        th:src="@{webjars/less/2.7.2/less.min.js}"></script>
<script src="webjars/bootstrap/4.0.0/js/bootstrap.min.js"
        th:src="@{webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
<script src="webjars/font-awesome/5.0.10/svg-with-js/js/fontawesome-all.min.js"
        th:src="@{webjars/font-awesome/5.0.10/svg-with-js/js/fontawesome-all.min.js}"></script>
<script th:src="@{js/about-us.js}" src="static/js/about-us.js"></script>
</body>
</html>