<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cinema</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="webjars/bootstrap/4.0.0/css/bootstrap.min.css"
          th:href="@{webjars/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="shortcut icon" href="/static/images/favicon.ico"
          th:href ="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet/less" type="text/less" href="../static/less/main.less"
          th:href="@{/less/main.less}" />
    <link rel="stylesheet" href="webjars/font-awesome/5.0.10/web-fonts-with-css/css/fontawesome-all.min.css"
          th:href="@{webjars/font-awesome/5.0.10/web-fonts-with-css/css/fontawesome-all.min.css}">
    <link rel="stylesheet" href="webjars/font-awesome/5.0.10/svg-with-js/css/fa-svg-with-js.css"
          th:href="@{webjars/font-awesome/5.0.10/svg-with-js/css/fa-svg-with-js.css}">
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-1"></div>
        <div class="col-sm-12 col-md-10">
            <div class="about-movie-all" th:unless="${currentMovie == null}">
                <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="about-movie-img">
                        <img src="/static/images/2.jpg" th:src="${currentMovie.moviePosterLink}">
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="about-movie-text">
                        <h3 th:text="${currentMovie.title}">Месники: Війна Нескінченності</h3>
                        <hr/>
                        <div class="duration" th:text="${currentMovie.duration} + ' хв.'"><strong>134 хв.</strong></div>
                        <div class="ganres">
                            <strong  th:each="genre : ${currentMovie.genres}" th:text="${genre.name} + '&nbsp;'"> Фантастика бойвик драма</strong>
                        </div>
                        <p class="description" th:text="${currentMovie.description}">
                            До цього йшли всі події. Поки супергерої на Землі і за її межами боролися проти злодіїв,
                            кожен з яких прагнув влади, хаосу або знищень, за всім цим спостерігав грізний титан
                            Танос. Але тепер його час вийти на сцену.
                        </p>
                    </div>
                </div>
                </div>
            </div>
           <div class="time-map" th:unless="${currentMovieSession == null}">
               <div class="gray-head-part">Розклад</div>
               <div th:replace="~{fragments/calendar :: calendar}"></div>
               <div class="time-panel" th:each="se : ${currentMovieSession}">
                   <a href="#" class="btn btn-outline-secondary" th:text="${se.startDateTime.getHour()+':00'}">12:00</a>
               </div>
           </div>
        </div>
        <div class="col-sm-12 col-md-1"></div>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>

<script src="webjars/jquery/2.1.4/jquery.min.js"
        th:src="@{webjars/jquery/2.1.4/jquery.min.js}"></script>
<script src="webjars/less/2.7.2/less.min.js"
        th:src="@{webjars/less/2.7.2/less.min.js}"></script>
<script src="webjars/bootstrap/4.0.0/js/bootstrap.bundle.min.js"
        th:src="@{webjars/bootstrap/4.0.0/js/bootstrap.bundle.min.js}"></script>
<script src="webjars/font-awesome/5.0.10/svg-with-js/js/fontawesome-all.min.js"
        th:src="@{webjars/font-awesome/5.0.10/svg-with-js/js/fontawesome-all.min.js}"></script>
<script th:src="@{js/about-movie.js}" src="static/js/about-movie.js"></script>
<script th:src="@{js/main.js}" src="static/js/main.js"></script>
<script type="text/javascript">
$(".bottom-menu .nav-link").removeClass("active");
</script>
</body>
</html>