<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cinema</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="webjars/bootstrap/4.0.0/css/bootstrap.min.css"
          th:href="@{webjars/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="shortcut icon" href="/static/images/favicon.ico"
          th:href ="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet/less" type="text/less" href="../static/less/main.less"
          th:href="@{/less/main.less}" />
    <link rel="stylesheet" href="webjars/font-awesome/5.0.10/web-fonts-with-css/css/fontawesome-all.min.css"
                            th:href="@{webjars/font-awesome/5.0.10/web-fonts-with-css/css/fontawesome-all.min.css}">
    <link rel="stylesheet" href="webjars/font-awesome/5.0.10/svg-with-js/css/fa-svg-with-js.css"
                             th:href="@{webjars/font-awesome/5.0.10/svg-with-js/css/fa-svg-with-js.css}">
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" th:unless="${movies == null}">
    <div class="carousel-inner" th:each="movie : ${movies}">
        <div class="preview carousel-item active">
            <img class="d-block carousel-img" th:src="${movie.moviePosterLink}" alt="First">
            <div class="info carousel-caption">
                <div class="caption-container row">
                    <div class="caption-details col-md-6 col-sm-12">
                        <h2 th:text="${movie.title}">Месники: Війна нескінченності</h2>
                    </div>
                    <div class="caption-link col-md-6 col-sm-12">
                        <a href="" th:href="@{#}" class="btn btn-outline-secondary">Купити</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="fas fa-chevron-left fa-3x"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="fas fa-chevron-right fa-3x"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="container-fluid">
    <div class="new-film-panel">
        <div class="row">
            <div class="col-sm-12 col-md-2"></div>
            <div class="col-sm-12 col-md-8">
                <nav class="navbar sort-panel">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link active" movieSessionId="by-date" href="#">
                                <span class="fas fa-calendar-alt"></span>
                                <span>за датою</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" movieSessionId="by-film" href="#">
                                <span class="fas fa-film"></span>
                                <span>за фільмами</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav justify-content-end">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" movieSessionId="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Сортувати
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" movieSessionId="by-time" href="#">за часом</a>
                                <a class="dropdown-item" movieSessionId="by-alphabet" href="#">за алфавітом</a>
                                <a class="dropdown-item" movieSessionId="by-new" href="#">за новизною</a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <div th:replace="~{fragments/calendar :: calendar}"></div>
               <div class="all-films" th:each="movie : ${movies}" th:unless="${movies == null}">
                    <div class="one-film">
                        <div class="row">
                            <div class="col-md-3">
                                <img class="poster" th:src="${movie.moviePosterLink}" alt="Film">
                            </div>
                            <div class="col-md-6 text-left film-text">
                                <h5 class="film-name" th:text="${movie.title}">Месники: війна нескінченності</h5>
                                <span class="time">134 хв.</span>
                                <p class="description" th:text="${movie.getGenres()}">
                                    До цього йшли всі події. Поки супергерої на Землі і за її межами боролися проти злодіїв,
                                    кожен з яких прагнув влади, хаосу або знищень, за всім цим спостерігав грізний титан
                                    Танос. Але тепер його час вийти на сцену.
                                </p>
                            </div>
                            <div class="col-md-3">

                                    <a href="" th:href="@{#}" class="btn btn-outline-secondary">Купити</a>

                            </div>
                        </div>
                    </div>
                </div>
             </div>
            <div class="col-sm-12 col-md-2"></div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>

<script src="webjars/jquery/2.1.4/jquery.min.js"
        th:src="@{webjars/jquery/2.1.4/jquery.min.js}"></script>
<script src="webjars/less/2.7.2/less.min.js"
        th:src="@{webjars/less/2.7.2/less.min.js}"></script>
<script src="webjars/bootstrap/4.0.0/js/bootstrap.min.js"
        th:src="@{webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
<script src="webjars/font-awesome/5.0.10/svg-with-js/js/fontawesome-all.min.js"
        th:src="@{webjars/font-awesome/5.0.10/svg-with-js/js/fontawesome-all.min.js}"></script>
<script th:src="@{js/main.js}" src="static/js/main.js"></script>
</body>
</html>